<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}BuildMate{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav class="nav">
  <a class="brand" href="{{ url_for('index') }}">BuildMate</a>
  <div>
    <a href="{{ url_for('projects') }}">Explore</a>
    {% if current_user %}
      <a href="{{ url_for('dashboard') }}">Dashboard</a>
      <a href="{{ url_for('profile') }}">Profile</a>
      <a class="btn small" href="{{ url_for('new_project') }}">+ Add Project</a>
      <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
      <a href="{{ url_for('login') }}">Login</a>
      <a class="btn small" href="{{ url_for('register') }}">Register</a>
    {% endif %}
  </div>
</nav>
<main class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
      <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
  {% endwith %}
  {% block content %}{% endblock %}
</main>
<footer> BuildMate · Built by UTTARA CHATURVEDI 25MIM10159 </footer>
</body>
</html>
